<nav>
    <div class="links">
        <a href="/">Home</a>
        <a href="/boarding">Boarding</a>
        <a href="/grooming">Grooming</a>
        <a href="/training">Training</a>
        <a href="/registration">Registration</a>
        <a href="/customers">Customer List</a>
        <a href="/booking">Booking</a>
        <a href="/my-appointments">Appointments</a>
    </div>
</nav>