<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <title>Pets-R-Us</title>
</head>
<body>
    <nav>
        <div class="links">
            <a href="/">Home</a>
            <a href="./">Boarding</a>
            <a href="/grooming">Grooming</a>
            <a href="#">Training</a>
            <a href="#">Registration</a>
            <a href="#">Customer List</a>
        </div>
    </nav>
    <main>
        <div id="grooming-container">
            <div class="grooming-landing-container">
                <div class="grooming-info">
                    <h1>Grooming</h1>
                    <h3>Looking to make your furry friend look there best? Look no further! Our amazing team of stylists will have your 
                        pet looking their best. We treat them as if they were our own and you can be sure that they will be pampered
                        and treated to nothing but the best!
                    </h3>
                    <div class="grooming-services-container">
                        <h2>Our Services</h2>
                        <table class="services-container">
                            <tbody>
                                <tr class="service">
                                    <td>Bath and Haircut</td>
                                    <td>$60</td>
                                </tr>
                                <tr class="service">
                                    <td>Nails Trimmed</td>
                                    <td>$20</td>
                                </tr>
                                <tr class="service">
                                    <td>Eye, Ear and Paw cleaning</td>
                                    <td>$50</td>
                                </tr>
                                <tr class="service">
                                    <td>All Services</td>
                                    <td>$100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <img src="/images/grooming.jpg" alt="A dog standing and looking to the east.">
            </div>
        </div>
        <footer>
            <div class="locations">
                <h2>Omaha</h2>
                <h4>1100 Madeup Way Suite 101</h4>
                <h4>Omaha, NE 68116</h4>
                <h4></h4>
            </div>
            <div class="locations">
                <h2>San Luis Obispo</h2>
                <h4>1234 Monterrey Street</h4>
                <h4>San Luis Obispo, CA 93401</h4>
            </div>
            <div class="hours">
                <h2>Hours</h2>
                <ul>
                    <li>Sunday: Closed</li>
                    <li>Monday-Friday: 8 AM - 8 PM</li>
                    <li>Saturday: 10 AM - 5 PM</li>
                </ul>
            </div>
        </footer>
    </main>
</body>
</html>