<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <title>Pets-R-Us</title>
</head>
<body>
    <nav>
        <div class="links">
            <a href="#">Home</a>
            <a href="#">Boarding</a>
            <a href="#">Grooming</a>
            <a href="#">Training</a>
            <a href="#">Registration</a>
            <a href="#">Customer List</a>
        </div>
    </nav>
    <main>
        <img class="landing-img" src="/images/landing.jpg" alt="A person and a cat reaching towards each other" />
        <div class="landing-container">
            <h1>Pets-R-Us</h1>
            <h3>Your best, all about pets store in Omaha!</h3>
        </div>
        <div id="location-container">
            <div class="location-info">
                <h3>Our Locations</h3>
                <div class="locations">
                    <h2>Omaha</h2>
                    <h4>1100 Madeup Way Suite 101</h4>
                    <h4>Omaha, NE 68116</h4>
                    <h4></h4>
                </div>
                <div class="locations">
                    <h2>San Luis Obispo</h2>
                    <h4>1234 Monterrey Street</h4>
                    <h4>San Luis Obispo, CA 93401</h4>
                </div>
            </div>
            <img src="/images/location.jpg" alt="The front of a pet store">
        </div>
        <div id="location-hours-container">
            <h3>Our Hours</h3>
            <div class="location-info-container">
                <div class="hours">
                    <h2>Omaha</h2>
                    <ul>
                        <li>Sunday: Closed</li>
                        <li>Monday-Friday: 8 AM - 8 PM</li>
                        <li>Saturday: 10 AM - 5 PM</li>
                    </ul>
                </div>
                <div class="hours">
                    <h2>Omaha</h2>
                    <ul>
                        <li>Sunday: Closed</li>
                        <li>Monday-Friday: 8 AM - 8 PM</li>
                        <li>Saturday: 10 AM - 5 PM</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="dog-container">
            <div class="dotw-details">
                <h1>Dog of the Week!</h1>
                <h3>Name: Chillona</h3>
                <h3>Age: 6 years old</h3>
                <h3>Birthday: 4/7/2017</h3>
                <h3>Why is she dog of the week?</h3>
                <h3>Chillona is our dog of the week for her tireless efforts to eradicate 
                    poverty and world hunger by nagging her owners to continue donating money in her name. 
                </h3>
            </div>
            <img src="/images/dotw.jpg" alt="Dog lying in grass">
        </div>
        <div id="testemonials">
            <h1>Our furr-tastic customers</h1>
            <div class="testemonials-container">
                <div class="testemonial">
                    <img src="#" alt="">
                    <div class="testemonial-info">
                        <h4>"Before Pets-R-Us, I was living on the street and begging for food. Now, I'm still living 
                            on the street, but Pets-R-Us gives me free food. Thank you, Pets-R-Us!"</h4>
                    </div>
                </div>
                <div class="testemonial">
                    <img src="#" alt="">
                    <div class="testemonial-info">
                        
                    </div>
                </div>
                <div class="testemonial">
                    <img src="#" alt="">
                    <div class="testemonial-info">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="contact-form">

        </div>
    </main>
</body>
</html>