<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <main>
        <img class="landing-img" src="/images/landing.jpg" alt="A person and a cat reaching towards each other" />
        <div class="landing-container">
            <h1>Pets-R-Us</h1>
            <h3>Your best, all about pets store in Omaha!</h3>
        </div>
        <div id="location-container">
            <div class="location-info">
                <h3>Our Locations</h3>
                <div class="locations">
                    <h2>Omaha</h2>
                    <h4>1100 Madeup Way Suite 101</h4>
                    <h4>Omaha, NE 68116</h4>
                    <h4></h4>
                </div>
                <div class="locations">
                    <h2>San Luis Obispo</h2>
                    <h4>1234 Monterrey Street</h4>
                    <h4>San Luis Obispo, CA 93401</h4>
                </div>
            </div>
            <img src="/images/location.jpg" alt="The front of a pet store">
        </div>
        <div id="location-hours-container">
            <h3>Our Hours</h3>
            <div class="location-info-container">
                <div class="hours">
                    <h2>Omaha</h2>
                    <ul>
                        <li>Sunday: Closed</li>
                        <li>Monday-Friday: 8 AM - 8 PM</li>
                        <li>Saturday: 10 AM - 5 PM</li>
                    </ul>
                </div>
                <div class="hours">
                    <h2>San Luis Obispo</h2>
                    <ul>
                        <li>Sunday: Closed</li>
                        <li>Monday-Friday: 8 AM - 8 PM</li>
                        <li>Saturday: 10 AM - 5 PM</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="dog-container">
            <div class="dotw-details">
                <h1><b><u>Dog of the Week!</u></b></h1>
                <h3><b><u>Name:</u></b> Chillona</h3>
                <h3><b><u>Age:</u></b> 6 years old</h3>
                <h3><b><u>Birthday:</u></b> 4/7/2017</h3>
                <h3><b><u>Why is she dog of the week?</u></b></h3>
                <h3>Chillona is our dog of the week for her tireless efforts to eradicate 
                    poverty and world hunger by nagging her owners to continue donating money in her name. 
                </h3>
            </div>
            <img src="/images/dotw.jpg" alt="Dog lying in grass">
        </div>
        <div id="testemonials">
            <h1>Our furr-tastic customers</h1>
            <div class="testemonials-container">
                <div class="testemonial">
                    <img src="/images/karen.jpg" alt="">
                    <div class="testemonial-info">
                        <h4>"I can now harass the manager and take care of my dog at the same time! Pets-R-Us is the best!"</h4>
                        <h3>Karen Karstlovksin</h3>
                        <h4>Mayor of Karen, Arkansas</h4>
                    </div>
                </div>
                <div class="testemonial">
                    <img src="/images/tobias.jpg" alt="">
                    <div class="testemonial-info">
                        <h4>"As an aspiring actor and therapist, I need a place that can handle all my pet needs. That's why I choose Pets-R-Us. "</h4>
                        <h3>Tobias Funke</h3>
                        <h4>Psychotherapist and aspiring actor</h4>
                    </div>
                </div>
                <div class="testemonial">
                    <img src="/images/monarch.jpg" alt="">
                    <div class="testemonial-info">
                        <h4>"Finding supplies for my giant supply of Monarch Butterflies can be stressful. Thankfully, Pets-R-Us always has what I need. Thanks, Pets-R-Us!"</h4>
                        <h3>The Monarch</h3>
                        <h4>Super Villain</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact-form">
            <h1>Questions? Comments? We'd Love to hear from you!</h1>
            <form>
                <label>Name:</label>
                <input type="text">

                <label>Phone Number:</label>
                <input type="text">

                <label>Email Address:</label>
                <input type="text">

                <label>What's on your mind?</label>
                <textarea rows="10" cols="5"></textarea>
            </form>
        </div>
        <footer>
            <div class="locations">
                <h1>Nebraska</h1><br><br>
                <h2>Omaha</h2>
                <h4>1100 Madeup Way Suite 101</h4>
                <h4>Omaha, NE 68116</h4>
                <h4></h4>
            </div>
            <div class="locations">
                <h1>California</h1><br><br>
                <h2>San Luis Obispo</h2>
                <h4>1234 Monterrey Street</h4>
                <h4>San Luis Obispo, CA 93401</h4>
            </div>
            <div class="hours">
                <h2>Hours</h2>
                <ul>
                    <li>Sunday: Closed</li>
                    <li>Monday-Friday: 8 AM - 8 PM</li>
                    <li>Saturday: 10 AM - 5 PM</li>
                </ul>
            </div>
        </footer>
    </main>
</body>
</html>