<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <section id="registration">
        <h1 class="center-text">Check for your appointments!</h1>
    
        <div class="card center-div">
            <div class="card-title"></div>
            <div class="card-content">
                <div class="form">
                    <form>
                        <div class="form-field">
                            <label for="customerID">Email: </label><br />
                            <input class="input" type="text" name="email" id="email" required autofocus>
                        </div>
                        <div class="form-field">
                            <input type="submit" value="Search" class="btn btn-primary full-width">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="header"></div>
        <table class="table">
            <tbody id="search-results">

            </tbody>
        </table>
    </section>
    
    <%- include('./partials/footer.ejs') %>
</html>
<script>
    const form = document.querySelector('form')
    let newData; 
    let loaded = false; 
    const results = document.getElementById('search-results')

    function handleData() {
             fetch('https://api.npoint.io/3cd3f30244854f7ed85d')
            .then((response) => response.json())
            .then((data) => {
                newData = data; 
        }) 
    }

    function handleHeader() {
        if(!loaded){
            const table = document.querySelector('.table')
            const header = `<h1 style="text-align: center; width=100%; margin-bottom:5vh;">My Appointments</h1>`

            document.getElementById('header').innerHTML += header; 

            const tableHeader = `<tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Service</th></tr>`
            results.innerHTML += tableHeader; 
        }
        loaded = true; 
    }

    function handleTableData(e) {
        results.innerHTML += `<tr><td>${e.firstName}</td><td>${e.lastName}</td><td>${e.email}</td><td>${e.service}</td></tr>`
    }

    form.addEventListener('submit', e => {
        let userInput = document.getElementById('email').value; 
        e.preventDefault()

        function handleSubmit() {
            handleHeader()
            
            newData.forEach(item => {
                if(item.email === userInput){
                    handleTableData(item)
                }
                else{
                    return; 
                }
            })
            
        }
        if(newData){
            handleSubmit()
        }

    })
    handleData()
</script>
