<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <div id="grooming-container">
            <div class="grooming-landing-container">
                <div class="grooming-info">
                    <h1>Training</h1>
                    <h3>
                        Every dog can use a little training. Our expert trainer will help whip your dog 
                        into shape and teach them what it means to be a good dog! We have various training packages
                        available to choose from that will fit all your doggy needs!
                    </h3>
                </div>
                <img src="/images/training.jpg" alt="A dog standing and looking to the east.">
            </div>
        </div>
        <div id="trainer-container">
            <h1>Meet our Trainer!</h1>
            <div class="trainer-info-container">
                <img src="/images/basic.jpg">
                <div class="trainer-info">
                    <h1>Becky</h1>
                    <p>Meet Becky! She's our resident dog trainer with over 10 years of experience. 
                        She is BWB certified and a board member of the Dog Lover's Assocation. When she's not
                        training dogs, she can be found going to Starbucks with her very similiar looking friends
                        drinking a pumpkin spice latte. 
                    </p>
                </div>
            </div>
        </div>
        <div id="pricing-container">
            <h1>Pricing</h1>
            <div id="prices-container">
                <div class="price-info">
                    <h1>Beginner</h1>
                    <p>Dog's gotta start somewhere</p>
                    <h2>$100</h2>
                </div>
                <div class="price-info">
                    <h1>Intermediate</h1>
                    <p>Where the real work begins</p>
                    <h2>$150</h2>
                </div>
                <div class="price-info">
                    <h1>Advanced</h1>
                    <p>For seasoned doggy veterans</p>
                    <h2>$200</h2>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </main>
</body>
</html>