* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
 
}


nav {
    position: relative; 
    width: 100%; 
    padding: 2rem;  
    z-index: 1;
    background: rgb(14 165 233);
}

.links {
    display: flex; 
    gap: 1.4rem; 
    justify-content: flex-end;
}

.links a {
    font-size: 1.5rem; 
    text-decoration: none;
    color: #fff;
    font-weight: bold; 
    transition: 0.3s; 
}

.links a:hover {
    text-decoration: underline; 
}

main {
    height: 100vh; 
    width: auto; 
}

.landing-container {
    position: absolute; 
    top: 15%; 
    left: 15%; 
}

.landing-container h1 {
    font-size: 4rem; 
}

.landing-container h3 {
    font-size: 2rem; 
}

.landing-img {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%;   
}

#location-container { 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 100vh; 
    margin-left: 10vw;  
    gap: 10vw; 
     
}

.location-info {
    text-align: center;
}

.location-info h3 {
    color: #fff; 
    background: rgb(14 165 233);
    padding: 0.5rem 2rem; 
    font-size: 1.5rem;
}

.location-info h2 {
    margin: 1rem 0; 
    font-size: 2.5rem; 
}

.location-info h4 {
    font-size: 1.4rem; 
}

#location-hours-container {
    margin-bottom: 5vh; 
    padding: 5vh 0; 
}

#location-hours-container h3{
    text-align: center;
    font-size: 3rem; 
}

.location-info-container {
    display: flex; 
    justify-content: center;
    gap: 25vw; 
}

.hours h2 {
    padding: 2rem; 
    font-size: 2rem; 
}

.hours ul {
    list-style: none;
}

.hours ul li {
    font-size: 1.5rem; 
}

#dog-container {
    padding: 4rem; 
    display: flex; 
    justify-content: center;
    gap: 20vw; 
    background-color: rgb(14 165 233);
    color: #fff; 
}

#dog-container h1 {
    font-size: 3rem; 
    margin-bottom: 3rem; 
    margin-left: 10vw; 
}

#dog-container img {
    border-radius: 15px;
    box-shadow: 10px 10px 5px black; 
}

.dotw-details {
    text-align: left;
    width: 35%;
}

.dotw-details h3 {
    font-size: 2rem; 
}

#testemonials {
    background-image: url('../images/testemonials-bg.png');
    background-size: cover; 
}

.testemonials-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; 
    padding: 5vw; 
}

#testemonials h1{
    text-align: center;
    padding: 3rem; 
    font-size: 4rem; 
    color: #000;
}

.testemonial{
    display: flex; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fff;
}

.testemonial-info {
    padding: 1rem; 
    width: 80%;  
}

.testemonial img {
    height: 150px; 
    width: 150px; 
    border-radius: 50%;
}

#contact-form { 
    padding: 5rem; 
    background-color: #ececec; 
}

#contact-form h1 {
    text-align: center;
}

.grooming-landing-container {
    display: flex; 
    background-color: #ececec;
}

.grooming-info {
    padding-left: 2vw; 
}

.grooming-info h1 {
    font-size: 4rem;
}

.grooming-info h3{
    width: 80%; 
    margin: 5vh 0; 
}

.grooming-services-container{
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.grooming-services-container h2 { 
    font-size: 2rem; 
    text-align: center;
}
.services-container {
    margin-top: 5vh;
}

td{
    font-size: 2rem; 
}

form {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 5vh; 
}

label {
    font-size: 1.5rem; 
    width: 40%; 
}

input {
    width: 100%;
    margin-bottom: 2vh;  
    padding: 0.3rem ;
}

textarea {
    width: 40%;
    resize: none; 
}

#trainer-container {
    padding: 5vh 5vw; 
}

#trainer-container h1 {
    text-align: center;
    margin-bottom: 5vh; 
}

.trainer-info-container {
    display: flex; 
    justify-content: space-evenly;
    gap: 5vw; 
}

.trainer-info-container img {
    width: 100%; 
    height: auto;   
}

.trainer-info p{
    width: 100%;
    text-align: center;
}

#pricing-container {
    background:#ececec;
    padding: 5vh 10vw; 
}

#pricing-container h1 {
    text-align: center;
    margin-bottom: 5vh; 
}

#prices-container {
    display: flex; 
    justify-content: center;
    gap: 10vw; 
    margin-bottom: 5vh; 
    
}

#prices-container h1 {
    margin-bottom: 3vh; 
}

#prices-container p {
    margin-bottom: 1vh; 
    font-size: 1.3rem;
}

#prices-container h2 {
    text-align: center;
}

.price-info {
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3vh 3vw; 
}

#registration {
    padding: 5vh 5vw; 
}

.center-text {
    text-align: center;
}

.form {
    margin-bottom: 10vh; 
}

.btn {
    padding: 2vh 5vw; 
    background: rgb(14 165 233); 
    color: #fff; 
    font-size: 1.2rem; 
    border: none; 
    border-radius: 15px; 
    transition: 0.2s; 
}

.btn:hover {
    cursor: pointer; 
    background: rgba(14, 164, 233, 0.825)
}

footer {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    color: #fff; 
    padding: 10vh 0; 
    background: rgb(14 165 233);
}
